@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-room {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
}


input,
textarea {
  width: 100%;
  color: #000000;
  outline: none;
  border: 1px solid #000000;
  margin: 2px;
  height: 40px;
  transition: all 300ms ease;
}

button {
  width: 100%;
  outline: none;
  border: 1px solid;
  margin: 2px;
  height: 40px;
  transition: all 300ms ease;
  background-color: beige;
}

button:hover {
  opacity: 70%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
